* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #ffb300;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #000000;
    color: #ffffff;
    line-height: 1.6;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: rgb(0, 0, 0)(255, 0, 0, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header>nav>ul {
    display: flex;
    gap: 25px;
}

header>nav>ul>li {
    font-weight: 600;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    padding: 60px 20px;
}

#hero h1 {
    font-size: 36px;
    font-weight: 700;
}

#hero div {
    max-width: 600px;
}

#features {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 40px;
    gap: 40px;
    flex-wrap: wrap;
}

#features>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease-in-out;
}

#features>div:hover {
    transform: scale(1.05);
}

#features>div>p {
    text-align: center;
    max-width: 300px;
}


#envios {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 40px;
    gap: 40px;
    flex-wrap: wrap;
}

#envios>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease-in-out;
}

#envios>div:hover {
    transform: scale(1.05);
}

#envios>div>p {
    text-align: center;
    max-width: 300px;
}




footer {
    background-color: #181818;
    color: #ffffff;
    text-align: center;
    padding: 30px 20px;
    margin-top: 50px;
}

footer div {
    margin-bottom: 20px;
}

footer h3,
footer h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
}

footer ul li {
    font-size: 14px;
}

footer a {
    color: #ffffff;

}

footer a:hover {
    color: #ffffff;
}